streamlit
google-generativeai
pandas
plotly
python-dotenv
requests
pydub
SpeechRecognition
stripe
reportlab
Pillow
arabic-reshaper
python-bidi
streamlit-lottie
streamlit-cookies-manager
firebase-admin
PyPDF2
python-docx
striprtf
